body {
    min-height: 100vh;
    color: white;
    background: linear-gradient(to left, purple 10%, burlywood);
    background-color: burlywood;
}


ul  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li {
    list-style: none;
}

header {
    background-color: transparent;
}

footer {
    background-color: transparent;
}

#content {
    /*Add whiskey background image later*/
    background-image: url('/home/roquez/coding/eduprojects/RestaurantPageDemo/RestaurantPage/src/images/Small-whiskey-rocks-black-background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    /*Credits for image*/
    /*<a href="https://www.freepik.com/free-photo/whiskey-rocks-black-background_15004902.htm#query=whiskey&position=9&from_view=search&track=sph">Image by rawpixel.com</a> on Freepik */
    justify-self: center;
    color: white;
    text-shadow:2px 2px purple;
    min-width: 90vw;
    min-height: 90vh;
    text-align: center;
    
    /*Creating cup effect */
    bottom: 0;
    left: 0;
    right: 0; 
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

    display: grid;
    grid-template-rows: 10% 90% 10%;

}

.ramen-outer {
    border-style:ridge;
    border-color: burlywood;
    border-left:0;
    border-right: 0;
    border-bottom: 0;
    margin-top: 5px; 
}